/* color palette from <https://github.com/vuejs/theme> */
:root {
  --purple: #877faf;
  --blue: #bacbfa;
  --pink: #eb9ed2;
  --coral: #fcb4a6;
  --gray: #b6c0c5;

  --white: #ffffff;
  --black: #000000;

  --purple-light: #eef2fd;
  --blue-light: #f2f5ff;
  --pink-light: #fbebf7;
  --coral-light: #fff1ed;

  --purple-dark: #655a97;

  --border-radius-xs: 4px;
  --border-radius-sm: 8px;
  --border-radius: 16px;
  --border-radius-lg: 32px;
  --border-radius-full: 100%;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --color-background: var(--vt-c-black);
    --color-background-soft: var(--vt-c-black-soft);
    --color-background-mute: var(--vt-c-black-mute);

    --color-border: var(--vt-c-divider-dark-2);
    --color-border-hover: var(--vt-c-divider-dark-1);

    --color-heading: var(--vt-c-text-dark-1);
    --color-text: var(--vt-c-text-dark-2);
  }
} */

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  font-weight: normal;
}

body {
  /* min-height: 100vh; */
  color: var(--purple);
  background: linear-gradient(
    135deg,
    rgba(237, 242, 255, 1) 0%,
    rgba(224, 228, 246, 1) 100%
  );
  transition: color 0.5s, background-color 0.5s;
  line-height: 1.6;
  font-family: "KCC-Ganpan", Inter, -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans",
    "Helvetica Neue", sans-serif;
  font-size: 16px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0;
  padding: 0;
}

button {
  border: none;
  margin: 0;
  padding: 0;
  width: auto;
  overflow: visible;
  background: transparent;
  color: inherit;
  font: inherit;
  line-height: normal;
  outline: none;
  cursor: pointer;
  -webkit-font-smoothing: inherit;
  -moz-osx-font-smoothing: inherit;
  -webkit-appearance: none;
  appearance: none;
}

input {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

@font-face {
  font-family: "KCC-Ganpan";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2302@1.0/KCC-Ganpan.woff2")
    format("woff2");
  font-weight: normal;
  font-style: normal;
}
